In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Task_5.0_2_version.xlsx')

In [3]:
df

,FIO,Месяц,Профессия,Разряд,Оборудование,Вредность (балл.),Объем производства,Доход
0,Абрамов Е. Д.,2009-01-01,Уборщик,3,Пилигримовые станы,18,580,16638.000000
1,Абрамов Е. Д.,2009-02-01,Уборщик,3,Пилигримовые станы,18,790,16638.000000
2,Абрамов Е. Д.,2009-03-01,Уборщик,3,Пилигримовые станы,18,820,16638.000000
3,Абрамов Е. Д.,2009-04-01,Уборщик,3,Пилигримовые станы,18,1200,19396.411765
4,Абрамов Е. Д.,2009-05-01,Уборщик,3,Пилигримовые станы,18,1250,19790.470588
...,...,...,...,...,...,...,...,...
2395,Яковлев Д. И.,2009-08-01,Подручный вальцовщика,4,Прошивной стан,18,1180,21800.170588
2396,Яковлев Д. И.,2009-09-01,Подручный вальцовщика,4,Прошивной стан,18,1080,20885.876471
2397,Яковлев Д. И.,2009-10-01,Подручный вальцовщика,4,Прошивной стан,18,780,18783.000000
2398,Яковлев Д. И.,2009-11-01,Подручный вальцовщика,4,Прошивной стан,18,1020,20337.300000
2399,Яковлев Д. И.,2009-12-01,Подручный вальцовщика,4,Прошивной стан,18,810,18783.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FIO                 2400 non-null   object
 1   Месяц               2400 non-null   datetime64[ns]
 2   Профессия           2400 non-null   object
 3   Разряд              2400 non-null   int64
 4   Оборудование        2400 non-null   object
 5   Вредность (балл.)   2400 non-null   int64
 6   Объем производства  2400 non-null   int64
 7   Доход               2400 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 150.1+ KB

In [8]:
df.duplicated().value_counts()

False    2400
dtype: int64